.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;

    .comment-list {
        height: 700px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 50px;
        border-radius: 5px;
        background-color: var(--comment-background-color);
        overflow-y: auto;
    }
}
