.wrapper {
    height: fit-content;
    grid-area: sidebox;
    display: flex;
    flex-direction: column;
    gap: 18px;

    .title {
        width: 60%;
    }

    .side-films {
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 10px;
        grid-template-areas: 'one';
        justify-items: center;
        padding: 18px;
        border-radius: 5px;
        background-color: var(--card-background-color);

        .side-films-top {
            grid-area: one;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        justify-content: center;
        align-items: center;
        gap: 28px;

        .title {
            align-self: flex-start;
        }

        .side-films {
            gap: 0;
            padding: 10px;

            .side-films-top {
                width: 100%;
                margin-bottom: 18px;
            }

            .show-films {
                margin-bottom: 18px;
            }

            .hidden-films {
                margin-bottom: 0;
                height: 0;
                opacity: 0;
            }
        }

        .more-btn {
            width: 90%;
        }
    }
}