.film-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .film-title {
        width: 80%;
        font-size: 2.8rem;
        font-weight: 700;
        text-decoration: underline;

        /* Does the magic */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: start;
    }

    .film-content {
        height: 100px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1.4rem;
        text-align: justify;
        text-justify: inter-word;
    }
}

.film-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .info-list {
        list-style: none;

        li {
            display: grid;
            grid-template-columns: 32px auto;
            grid-template-rows: auto;
            gap: 0px 0px;
            grid-auto-flow: row;
            justify-items: flex-start;
            grid-template-areas: '. title';

            .icon {
                grid-area: icon;
            }

            .info-title {
                width: 100%;
                grid-area: title;

                /* Does the magic */
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: start;

                span {
                    font-weight: 600;
                }
            }

            .high-light {
                color: var(--green-highlight-color);
            }

            .search-able {
                color: #7fa7ff;
                transition: 0.1s linear;


                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .film-info .film-title {
        font-size: 2rem;
        font-weight: 700;
        // display: none;
    }
}