.wrapper {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: var(--default-layout-header-height);
    border-radius: 0 0 5px 5px;
    box-shadow: var(--lighten-primary-active-color) 0px 1px 999px;
    background-color: var(--primary);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search-box {
        // display: none;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 18px;
        background-color: var(--primary);
        opacity: 0;
        z-index: 10;
        transition: 0.2s linear;

        .back-btn {
            width: 50px;
            height: 40px;
            margin-right: 10px;
            border-radius: 5px;
            color: var(--text-color);
            background: var(--lighten-primary-active-color);

            &:hover {
                background: var(--primary-hover);
            }
        }
    }

    .search-box-show {
        top: 0;
        opacity: 1;
    }
}

.logo-link {
    width: 250px;
    height: 60px;
    display: flex;
}

// Actions
.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 250px;

    .mb-login-btn {
        min-width: fit-content;
        margin-left: 18px;
    }
}

.more-btn {
    cursor: pointer;
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    color: var(--text-color);
}

.action-btn {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    color: var(--text-color);
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    font-family: var(--font-family);
    background-color: var(--highlight-color);
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}

// Genre list

.genre {
    width: fit-content;
    height: 32px;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--lighten-primary-active-color);
    white-space: nowrap;

    &:hover {
        transition-duration: 300ms;
        // color: var(--background-color);
        background-color: var(--highlight-color);
    }
}

/** Mobile layout **/
@media screen and (max-width: 1024px) {
    .wrapper {
        position: relative;

        .inner {
            .logo-link {
                width: calc((100% - 24px) / 2);
            }

            .actions {
                width: calc((100% - 24px) / 2);
            }
        }

        .more-btn {
            margin-left: 18px;
        }
    }
}