.wrapper {
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;

    button span {
        width: 127px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

/** Mobile layout **/
@media screen and (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
        gap: 18px;

        .server-list {
            display: flex;
            flex-direction: column;
            gap: 10px;

            button {
                margin-left: 0;
            }
        }
    }
}
