.wrapper {
    // width: var(--default-layout-width);
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    background-color: var(--card-background-color);

    .carousel {
        width: 100%;
        position: relative;
        overflow: hidden;

        .left-btn,
        .right-btn {
            position: absolute;
            top: 0;
            height: 100%;
            width: 50px;
            background-color: transparent;
            border-radius: 5px;
            color: var(--text-color);
            font-size: 1.8rem;
            z-index: 1;

            &:hover {
                transition-duration: 300ms;
                background-color: var(--card-blur-color);
            }
        }

        .left-btn {
            left: 0;
        }

        .right-btn {
            right: 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 10px;

        .carousel {
            .left-btn,
            .right-btn {
                &:hover {
                    transition-duration: 300ms;
                    background-color: transparent;
                }
            }
        }
    }
}
