.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;

    .tab-box {
        width: var(--default-layout-width);
        color: var(--white);
    }

    .film-ỉnteract {
        width: var(--default-layout-width);
        display: flex;
        justify-content: space-between;
        align-items: center;

        button span {
            width: 127px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
