.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;

    .bottom-button {
        align-self: flex-end;
    }

    .divider {
        width: 100%;
        color: var(--text-color);
        margin-bottom: 18px;

        &::before,
        &::after {
            background-color: var(--text-color);
        }
    }
}

.wrapper .user-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: var(--text-color);

    .user-info-txt-input {
        min-width: 70%;
    }

    .user-info-tags {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .user-info-content {
        width: 70%;
        font-weight: 400;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: start;
    }

}