.wrapper {
    // Custom
    --bs-modal-header-padding: 1rem 2rem !important;
    --bs-modal-padding: 2rem !important;
    --bs-modal-bg: var(--text-color) !important;

    .title {
        font-size: 2.4rem;
    }

    .login-form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .text-input {
            padding: 6px 8px;
            font-size: 1.6rem;
        }

        .submit {
            margin-left: 0;
            background-color: var(--highlight-color);
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }

            &:active {
                opacity: 0.8;
                color: var(--text-color);
            }
        }
    }

    .btn-group {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;

        button {
            margin-left: 0;
            background-color: var(--card-blur-color);

            &:hover {
                background-color: var(--primary);
            }

            &:active {
                background-color: var(--card-blur-color);
                color: var(--text-color);
            }
        }
    }

    .switch-page {
        color: var(--highlight-color);

        &:hover {
            text-decoration: underline;
        }
    }

    .divider {
        display: flex;

        &:before,
        &:after {
            content: '';
            flex: 1;
        }
    }

    // Base line
    .line {
        align-items: center;
        margin: 20px -10px 10px;

        &:before,
        &:after {
            height: 1px;
            margin: 0 1em;
        }
    }

    .one-line {
        &:before,
        &:after {
            background: var(--primary);
        }
    }
}
