.wrapper {
    width: var(--default-layout-width);
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 0 auto 30px;

    // .save-btn {}

    .btn-group {
        align-self: flex-end;
        display: flex;
        gap: 10px;
    }
}