.wrapper {
    width: 100%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;

    .title_name {
        color: var(--text-color);
    }

    .container {
        margin: auto;
    }
}

.dialog {
    min-width: 500px;
    padding: 18px !important;
    display: flex;
    flex-direction: column;
    gap: 18px;

    .tab-dialog {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}