.navBtn {
    width: 100%;
    height: 60px;
    border-radius: 0;
    background-color: var(--primary);

    +.navBtn {
        margin-left: 0px;
    }

    .icon {
        height: 1.6rem;
    }

    display: flex;
    justify-content: flex-start;
    padding-left: 50px;


    &.active,
    &:disabled {
        background-color: var(--highlight-color);
        color: var(--text-color);
    }

}