.navBtn {
    width: 100%;
    height: 60px;
    border-radius: 0 !important;
    background-color: var(--primary) !important;
    min-width: auto;

    &:hover {
        transition-duration: 300ms;
        // border-color: var(--primary);
        background: var(--primary-hover);
    }

    &:active {
        transition-duration: 300ms;
        color: var(--body-color);
        background: var(--primary-active);
    }

    &+.navBtn {
        margin-left: 0px !important;
    }




    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;

    &.active,
    &:disabled {
        background-color: var(--highlight-color) !important;
        color: var(--text-color) !important;
    }


}

/** Mobile layout **/
@media screen and (max-width: 1120px) {
    .navBtn {
        padding: 0 10px 0 10px !important;
        justify-content: center !important;

    }

}