.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 25px 0;
    grid-template-areas:
        'content content content content'
        'content content content content'
        '. . . button';
}

.content-info {
    min-width: 785px;
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    gap: 10px;
}

.more-btn {
    grid-area: button;
}

.noFilm {
    color: var(--text-color);
    width: 100%;
    height: 100%;
    margin-top: 35px;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 1024px) {
    .content-info {
        grid-template-columns: auto;
    }
}