.wrapper {
    cursor: pointer;
    position: relative;
    width: 180px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--body-color);
    transition: 0.2s ease-out;

    // imagebox  /////////////////////////////////////////////////////////////////////////

    .image-box {
        position: relative;
        // margin: auto;
        overflow: hidden;
        border-radius: 5px;

        .film-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-position: center;
            transition: linear 0.2s;
        }
    }

    .nooverlay-img-box {
        display: flex;
        align-items: center;
        border-radius: 5px;

        .nooverlay-img {
            width: 100px;
            height: 100px;
        }
    }

    .large-nooverlay-img-box {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        border-radius: 5px;



        .large-nooverlay-img {
            height: 250px;
            aspect-ratio: 16 / 9;
            // width: 380px;
        }
    }

    // info /////////////////////////////////////////////////////////////////////////
    .info {
        position: absolute;
        bottom: 0;
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-radius: 5px;
        background-color: var(--card-blur-color);
        color: var(--text-color);
        text-align: center;

        h4 {
            max-width: 80%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        h5 {
            width: 80%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .nooverlay-info {
        position: static;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        border-radius: 0 5px 5px 0;
        padding: 15px;
        text-align: start;
        background-color: var(--card-blur-color);

        .nooverlay-subinfo-list {
            display: flex;
            gap: 10px;
        }

        h4 {
            width: 220px;
        }
    }

    .large-info {
        width: 50%;
        align-self: flex-end;
    }

    .large-nooverlay-info {
        height: 50%;

        .large-title {
            font-size: 2.2rem;
            margin-bottom: 10px;
        }

        .large-nooverlay-subinfo-list {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            gap: 0px 18px;
            grid-template-areas:
                ". ."
                ". ."
                ". ."
                ". .";
            gap: 5px;
            font-size: 1.8rem;
            flex-direction: column;
        }
    }

    // rating /////////////////////////////////////////////////////////////////////////
    .rating {
        position: absolute;
        top: 5px;
        left: 5px;
        height: 50px;
        width: 50px;

        img {
            height: 100%;
            width: 100%;
            opacity: 0.7;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--text-color);
            font-weight: 600;
        }
    }

    .nooverlay-rating {
        left: 85px;
        top: unset;
        bottom: 5px;
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
    }

    .large-rating {
        top: unset;
        bottom: 5px;
    }

    .large-nooverlay-rating {
        left: 5px;
        top: unset;
        bottom: 5px;
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
    }

    // episodes /////////////////////////////////////////////////////////////////////////
    .episodes {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 50px;

        img {
            height: 100%;
            width: 100%;
            opacity: 0.7;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--text-color);
            font-weight: 600;
        }
    }

    .nooverlay-episodes {
        left: 125px;
        right: unset;
        top: unset;
        bottom: 5px;
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
    }

    .large-episodes {
        top: unset;
        bottom: 5px;
        left: 60px;
    }

    .large-nooverlay-episodes {
        left: 50px;
        right: unset;
        top: unset;
        bottom: 5px;
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
    }

    // hover-btn-list /////////////////////////////////////////////////////////////////////////

    .hover-btn-list {
        position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        gap: 18px;
        justify-content: center;
        align-items: center;
        background-color: var(--card-blur-color);
        opacity: 0;
        border-radius: 5px;

        transition: linear 0.2s;

        .hover-btn {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 999px;
            font-size: 2.2rem;
            color: var(--text-color);
            background-color: var(--primary-hover);
            padding: 10px;
            cursor: pointer;
            transition: linear 0.2s;

            &:hover {
                background-color: var(--highlight-color);
            }
        }
    }

    .noOverlay-btn-list {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: 15%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: linear 0.2s;

        .hover-btn {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: transparent;
            color: var(--text-color);
            opacity: .2;
            font-size: 2.4rem;
            cursor: pointer;
            transition: linear 0.2s;

            &:hover {
                opacity: 1;
                color: var(--highlight-color);
            }
        }
    }

    .large-noOverlay-btn-list {
        width: fit-content;
        height: fit-content;
        flex-direction: row;
        top: unset;
        bottom: 0;
        right: 0;
        transform: translate(0, 0);

    }


    &:hover {
        .film-img {
            transform: scale(1.1);
        }

        .hover-btn-list {
            opacity: 1;
        }
    }
}

// wrapper /////////////////////////////////////////////////////////////////////////

.nooverlay-wrapper {
    width: 100%;
    height: 100px;
    flex-direction: row;
    border-radius: 5px;

    &:hover {
        background-color: var(--primary-hover);

        .nooverlay-img {
            transform: unset;
        }

        .noOverlay-btn-list {

            .hover-btn {
                opacity: 0.8;
            }
        }
    }
}

.large-wrapper {
    .image-box {
        margin: auto;
    }

    width: 100%;
}

.large-nooverlay-wrapper {
    width: 100%;
    // width: 500px;
    height: 400px;

    &:hover {
        background-color: var(--primary-hover);

        .noOverlay-btn-list {

            .hover-btn {
                opacity: 0.8;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 140px;
        height: 190px;

        .info {
            font-size: smaller;
            height: 40%;

        }

        .nooverlay-info {
            height: 100%
        }
    }


    .nooverlay-wrapper {
        width: 100%;
        height: 100px;
        flex-direction: row;
    }

    .large-wrapper {
        width: 100%;
    }

    .large-nooverlay-wrapper {
        width: 100%;
        height: 380px;

        .large-nooverlay-img-box {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 5px;



            .large-nooverlay-img {
                height: 250px;
                aspect-ratio: 16 / 9;
                // width: 380px;
            }
        }
    }
}