.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bread-crumbs {
        width: var(--default-layout-width);
        margin-top: 50px;
        padding: 0 var(--default-layout-horizontal-spacer);
        color: var(--text-color);
        font-size: 1.8rem;

        .curr-page {
            font-size: 1.8rem;
            color: var(--highlight-color);
        }
    }

    .search-films {
        width: var(--default-layout-width);
        display: flex;
        flex-direction: column;
        gap: 28px;
        padding: var(--default-layout-horizontal-spacer);

        .films-list {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto auto;
            gap: 18px 18px;
            grid-template-areas:
                ". . .";
            padding: 18px;
            border-radius: 5px;
            background-color: var(--card-background-color);

            // .large-film-card {
            //     grid-area: card;
            // }
        }
    }
}