.wrapper {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: var(--default-layout-header-height);
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--primary);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    width: 250px;
    height: 60px;
    display: flex;
}

// Actions
.actions {
    display: flex;
    align-items: center;
    width: 250px;
}

.more-btn {
    cursor: pointer;
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    color: var(--white);
}

.action-btn {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    color: var(--text-color);
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--background-color);
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}

// Genre list

.genre {
    width: fit-content;
    height: 32px;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--white);
    white-space: nowrap;

    &:hover {
        background-color: #c2c2c2;
    }
}
