.wrapper {
    width: var(--default-layout-width);
    padding: 18px;
    border-radius: 5px;
    background-color: var(--blur-background-color);

    .carousel {
        position: relative;

        .left-btn,
        .right-btn {
            position: absolute;
            height: 100%;
            width: 50px;
            background-color: transparent;
            color: var(--white);
            font-size: 1.8rem;
            z-index: 1;

            &:hover {
                background-color: #32282862;
            }
        }

        .left-btn {
            left: 0;
        }

        .right-btn {
            right: 0;
        }
    }
}
