.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;


    .expisode {
        position: relative;
        height: 60px;
        min-width: auto;
        width: 60px;
        padding: 1px;
        margin-left: 0;

        &.watched {
            background-color: var(--primary-hover);
        }


        &.watching,
        &:disabled {
            opacity: 1;
            background-color: var(--primary-active);
            color: var(--body-color);
        }


        span {
            position: absolute;
            width: max-content;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

/** Mobile layout **/
@media screen and (max-width: 1024px) {
    .wrapper {
        justify-content: center;
    }
}