.wrapper {
    width: 500px;
    display: flex;
    border-radius: 999px;

    .search-input {
        width: 90%;
        height: 40px;
        padding: 5px 18px;
        border-radius: 8px 0px 0px 8px;
        background: var(--primary-active);
        color: var(--body-color);

        &:focus {
            background: var(--background-color);
            ~ .search-btn {
                color: var(--text-color);
            }
            color: var(--text-color);
        }
    }
    .search-btn {
        width: 15%;
        border-left: none;
        border-radius: 0 8px 8px 0;
        color: var(--blur-background-color);
        font-size: 1.8rem;
        background: var(--blur-background-color);
    }
}
