@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }
    50% {
        transform: translateX(50%) translateY(10%);
    }
    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

.wrapper {
    width: 500px;
    display: flex;
    border-radius: 999px;
    height: 40px;

    .search-input {
        width: 90%;
        height: 40px;
        padding: 5px 18px;
        border-radius: 8px 0px 0px 8px;
        background: var(--lighten-primary-color);
        color: var(--text-color);

        &:focus {
            transition-duration: 300ms;

            background: var(--primary-hover);
            ~ .search-btn-w-bg .search-btn {
                transition-duration: 300ms;

                color: var(--text-color);
                background: transparent;
            }
            color: var(--text-color);
        }
    }
    .search-btn-w-bg {
        width: 15%;
        position: relative;
        .search-btn {
            height: 100%;
            z-index: 1;
            position: absolute;
            width: 100%;
            border-left: none;
            border-radius: 0 8px 8px 0;
            color: var(--body-color);
            font-size: 1.8rem;
            &:hover {
                transition-duration: 300ms;
                color: var(--text-color);
                background: transparent;
            }
        }
        .gradient-bg {
            //color
            --color-bg1: rgb(108, 0, 162);
            --color-bg2: rgb(0, 17, 82);
            --color1: 18, 113, 255;
            --color2: 221, 74, 255;
            --color3: 100, 220, 255;
            --color4: 200, 50, 50;
            --color5: 180, 180, 50;
            --color-interactive: 140, 100, 255;
            --circle-size: 80%;
            --blending: hard-light;

            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            border-radius: 0 8px 8px 0;

            font-size: 1.8rem;
            background-color: beige;
            // position: absolute;
            overflow: hidden;
            background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
            position: absolute;
            svg {
                display: none;
            }

            .gradients-container {
                filter: url(#goo) blur(2px);
                width: 100%;
                height: 100%;
            }

            .g1 {
                position: absolute;
                background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%)
                    no-repeat;
                mix-blend-mode: var(--blending);

                width: var(--circle-size);
                height: var(--circle-size);
                top: calc(50% - var(--circle-size) / 2);
                left: calc(50% - var(--circle-size) / 2);

                transform-origin: center center;
                animation: moveVertical 30s ease infinite;

                opacity: 1;
            }

            .g2 {
                position: absolute;
                background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%)
                    no-repeat;
                mix-blend-mode: var(--blending);

                width: var(--circle-size);
                height: var(--circle-size);
                top: calc(50% - var(--circle-size) / 2);
                left: calc(50% - var(--circle-size) / 2);

                transform-origin: calc(50% - 40px);
                animation: moveInCircle 20s reverse infinite;

                opacity: 1;
            }

            .g3 {
                position: absolute;
                background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%)
                    no-repeat;
                mix-blend-mode: var(--blending);

                width: var(--circle-size);
                height: var(--circle-size);
                top: calc(50% - var(--circle-size) / 2 + 20px);
                left: calc(50% - var(--circle-size) / 2 - 50px);

                transform-origin: calc(50% + 40px);
                animation: moveInCircle 40s linear infinite;

                opacity: 1;
            }

            .g4 {
                position: absolute;
                background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%)
                    no-repeat;
                mix-blend-mode: var(--blending);

                width: var(--circle-size);
                height: var(--circle-size);
                top: calc(50% - var(--circle-size) / 2);
                left: calc(50% - var(--circle-size) / 2);

                transform-origin: calc(50% - 20px);
                animation: moveHorizontal 40s ease infinite;

                opacity: 0.7;
            }

            .g5 {
                position: absolute;
                background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%)
                    no-repeat;
                mix-blend-mode: var(--blending);

                width: calc(var(--circle-size) * 2);
                height: calc(var(--circle-size) * 2);
                top: calc(50% - var(--circle-size));
                left: calc(50% - var(--circle-size));

                transform-origin: calc(50% - 80px) calc(50% + 20px);
                animation: moveInCircle 20s ease infinite;

                opacity: 1;
            }

            .interactive {
                position: absolute;
                background: radial-gradient(
                        circle at center,
                        rgba(var(--color-interactive), 0.8) 0,
                        rgba(var(--color-interactive), 0) 50%
                    )
                    no-repeat;
                mix-blend-mode: var(--blending);

                width: 100%;
                height: 100%;
                top: -50%;
                left: -50%;

                opacity: 0.7;
            }
        }
    }
}
