.wrapper {
    width: var(--default-layout-width);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
        'title .'
        'tabbox sidebox';
    gap: 30px;
    margin-bottom: 80px;

    .film-classify-title {
        grid-area: title;
        width: 30%;
    }
}
