.wrapper {
    width: var(--default-layout-width);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        'title .'
        'tabbox sidebox';
    gap: 30px;
    margin-bottom: 80px;

    .film-classify-title {
        grid-area: title;
        width: 30%;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 18px;
        grid-template-areas:
            'title'
            'tabbox'
            'sidebox';

        .film-classify-title {
            width: 60%;
        }

        .tab-box {
            width: var(--default-layout-width);
            color: var(--text-color);
        }
    }
}
