.wrapper {
    display: flex;
    gap: 10px;

    .title {
        font-size: 1.8rem;
        color: var(--text-color);
    }

    .star-rating {
        display: flex;
        gap: 5px;
        white-space: nowrap;
    }

    .star-rating [type='radio'] {
        appearance: none;
    }

    .star-rating svg {
        font-size: 1.2em;
        transition: 0.3s;
    }

    .star-rating label:is(:hover, :has(~ :hover)) svg {
        transform: scale(1.35);
        color: #fffdba;
        animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
    }

    .star-rating label:has(~ :checked) svg {
        color: #faec1b;
        text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
    }
}

@keyframes jump {
    0%,
    50% {
        transform: translatey(0) scale(1.35);
    }
    100% {
        transform: translatey(-15%) scale(1.35);
    }
}
