.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;

    .comment-list {
        position: relative;
        height: 700px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px;
        border-radius: 5px;
        background-color: var(--background-color);
        overflow-y: auto;

        .no-comment {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: var(--text-color);
        }
    }
}

/** Mobile layout **/
@media screen and (max-width: 1024px) {
    .wrapper {

        .comment-list {
            height: 700px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding: 20px;
            border-radius: 5px;
            background-color: var(--background-color);
            overflow-y: auto;
        }
    }
}