.wrapper {
    width: var(--default-layout-width);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-blur-color);
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 8px 8px;

    .genres {
        display: flex;
        gap: 5px;
        overflow: hidden;

        .genres-carousel {
            display: flex;
            justify-content: center;

            &>div {
                width: var(--default-layout-width);
                display: flex;
                gap: 10px;
                padding: 10px;
                align-items: center;

            }
        }
    }

    .left-btn,
    .right-btn {
        position: absolute;
        padding: 5px 10px;
        color: var(--text-color);
        font-size: 1.6rem;
        z-index: 1;
    }

    .left-btn {
        left: 0;
        background: linear-gradient(-90deg, rgb(255 255 255 / 0%) 0%, rgb(15 15 15) 100%);

    }

    .right-btn {
        right: 0;
        background: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, rgb(15 15 15) 100%);
    }
}

// @media screen and (max-width: 1024px) {
//     .left-btn,
//     .right-btn {
//         display: none;
//     }
// }