.wrapper {
    width: var(--default-layout-width);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .genres {
        display: flex;
        gap: 5px;
        overflow: hidden;

        .genres-carousel {
            display: flex;
            justify-content: center;

            div {
                width: var(--default-layout-width);
                display: flex;
                gap: 10px;
                padding: 10px;
            }
        }
    }

    .left-btn,
    .right-btn {
        position: absolute;
        padding: 5px 10px;
        color: var(--text-color);
        font-size: 1.6rem;
        z-index: 1;
    }

    .left-btn {
        left: 0;
        background: rgb(1, 0, 15);
        background: linear-gradient(90deg, rgba(1, 0, 15, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .right-btn {
        right: 0;
        background: rgb(1, 0, 15);
        background: linear-gradient(90deg, rgba(1, 0, 15, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
}

// @media screen and (max-width: 1024px) {
//     .left-btn,
//     .right-btn {
//         display: none;
//     }
// }