// Carousel
.home-slider {
    // width: var(--default-layout-width);
    width: 100%;
    padding: 25px;
    background-color: var(--card-background-color);
    border-radius: 5px;

    .carousel-caption {
        right: 12.5px;
        left: auto;
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 10px;
        background-color: var(--card-blur-color);
        text-align: left;
    }
}

/** Mobile layout **/
@media screen and (max-width: 1024px) {
    .home-slider {
        padding: 10px;

        .carousel-caption {
            color: var(--text-color);
            width: 100%;
            // background-color: aqua;
        }
    }
}
