.wrapper {
    // Custom
    --bs-modal-header-padding: 1rem 2rem !important;
    --bs-modal-padding: 2rem !important;
    --bs-modal-bg: var(--card-background-color) !important;

    color: var(--text-color);


    .title {
        font-size: 2.4rem;
    }

    .login-form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .text-input {
            padding: 6px 8px;
            font-size: 1.6rem;
        }

        .submit {
            margin-left: 0;
            background: var(--submit-color);
            color: var(--text-color);
            font-weight: 600;
            font-size: 16px;

            &:hover {
                opacity: .8;
            }
        }

        .alert {
            color: var(--highlight-color);
            font-weight: 700;
        }

        .pass-form {
            position: relative;

            .passEye {
                position: absolute;
                top: 42px;
                right: 10px;
                background-color: transparent;
            }

        }

        .forget-pass {
            display: flex;
            justify-content: flex-end;
            padding: 10px 0;

            a {
                color: var(--submit-color);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .otp-form {
        display: flex;
        flex-direction: column;
        gap: 30px;

    }

    .btn-group {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;

        button {
            margin-left: 0;
            color: var(--text-color);
        }

        .gg-btn {
            background-color: #e94235;
        }

        .fb-btn {
            background-color: #0866ff;
        }

        .git-btn {
            background-color: #010409;
        }
    }



    .switch-page {
        color: var(--text-color);

        a {
            color: var(--submit-color);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .divider {
        display: flex;

        &:before,
        &:after {
            content: '';
            flex: 1;
        }
    }

    // Base line
    .line {
        align-items: center;
        margin: 20px -10px 10px;

        &:before,
        &:after {
            height: 1px;
            margin: 0 1em;
        }
    }

    .one-line {

        &:before,
        &:after {
            background: var(--text-color);
        }
    }
}