@import 'normalize.css';
@import "~bootstrap/scss/bootstrap";

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
$primary: #0f0f0f;
$primary-active: #ffffff;
$primary-hover: transparentize($primary-active, 0.7);
$highlight-color: #aa2020;
$green-highlight-color: #b5e745;
$submit-color: #0d6efd;
$lighten-primary-active-color: transparentize($primary-active, 0.9);
$text-color: #ffffff;
$body-color: #000000;
$background-color: #0f0f0f;
$card-blur-color: transparentize($background-color, 0.2);
$card-background-color: #272727;
$blur-background-color: transparentize($card-background-color, 0.8);

:root {
    //color search btn
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    // color
    --primary: #{$primary};
    --primary-hover: #{$primary-hover};
    --primary-active: #{$primary-active};
    --lighten-primary-active-color: #{$lighten-primary-active-color};
    --highlight-color: #{$highlight-color};
    --green-highlight-color: #{$green-highlight-color};
    --submit-color: #{$submit-color};
    --text-color: #{$text-color};
    --body-color: #{$body-color};
    --card-background-color: #{$card-background-color};
    --blur-background-color: #{$blur-background-color};
    --card-blur-color: #{$card-blur-color};
    --background-color: #{$background-color};

    // font
    --font-family: var(--font-montserrat);

    // layout
    --default-layout-header-height: 80px;
    --default-layout-width: 1250px;
    --default-max-height: 705px;

    --default-layout-horizontal-spacer: 24px;
    //
    --bs-link-hover-color: var(--highlight-color);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding-top: 150px;
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    background-color: var(--background-color);
    color: var(--body-color);
    overflow-y: auto;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--primary-hover);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

p {
    margin: 0;
}

a {
    color: var(--body-color);
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

// Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 5px;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.4rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 5px 6px;
    }

    .tippy-box[data-placement^='bottom']>.tippy-arrow:before {
        top: -8px;
    }
}

// custom filmProposeList
.styles-module_item-container__a8zaY {
    width: 192px !important;
}

/** Mobile layout **/
@media screen and (max-width: 1024px) {
    :root {
        --default-layout-width: 95%;
    }
}

// Animation
@keyframes rotate {
    0% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    100% {
        transform: scale(0.9, 1.1);
    }
}