.wrapper {
    width: var(--default-layout-width);
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;


    .card {
        max-width: 475px;

        background-color: var(--card-background-color);
        color: var(--text-color);

        .input {
            width: 100%;
            margin-top: 18px;
        }

        .action {
            display: flex;
            justify-content: flex-end;
        }

        .user-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .otp-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: flex-start;

            .btn {
                align-self: flex-end;
            }

            .count {
                align-self: center;
            }
        }
    }

}