.wrapper {
    width: var(--default-layout-width);
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;


    .find-account {
        max-width: 375px;

        background-color: var(--card-background-color);
        color: var(--text-color);

        .input {
            width: 100%;
            margin-top: 18px;
        }

        .action {
            display: flex;
            justify-content: flex-end;
        }
    }
}