.menu-list {
    width: 250px;

    .menu-item {
        margin-left: 0 !important;
        background-color: transparent;

        &:hover {
            background-color: var(--highlight-color);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.player-menu-popper {
    background-color: var(--card-blur-color);

    .menu-title {
        margin-top: 10px;
        text-align: center;
        color: var(--text-color);
    }

    button {
        color: var(--text-color);
        background-color: transparent;
        border: none;
        backdrop-filter: none;

        &:hover {
            transition-duration: 300ms;
            background-color: var(--primary-hover);
        }

        &:active {
            color: var(--text-color);
            transition-duration: 300ms;
        }
    }
}

.menu-body {
    overflow: auto;
}

// Menu item
.menu-item {
    color: var(--text-color);
    width: 100%;
    justify-content: flex-start !important;
    border-radius: 0 !important;
    padding: 11px 16px;
    line-height: 1.8rem;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        transition-duration: 300ms;
        background-color: var(--blur-background-color);
    }

    &:active {
        transition-duration: 300ms;
        background: var(--primary-active);
    }
}

// Header
.header {
    flex-shrink: 0;
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.back-btn {
    color: var(--text-color);

    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    color: var(--text-color);
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}